<%- include('../partials/header.ejs') %> 

  <h1>This is the index page</h1>
  <% posts.forEach(post => { %>
   <h2><%= post.title %> </h2>
   <p><%= post.body %> </p>
  <% }) %>

<%- include('../partials/footer.ejs') %> 